
.parent_detail{
    display: grid;
    place-content: center;
    place-items: center;
    height: 80vh;
}
.details{
    display: grid;
    place-content: center;
    place-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 300px;
    img{
        width:300px;
    }
    h3{
        padding:20px 10px;
    }
}