<router-outlet>
    <header>
        <div class="logo">Responsive NavBar</div>
        <div class="tab">
            <div class="myName">Home</div>
            <div class="myName" routerLink="/gallery">Gallery</div>
            <div class="myName">Projects</div>
            <div class="myName">Shop</div>
            <div class="myName">Contact</div>
        </div>
        <div class="nav">|||</div>
    </header>
    <div class="tab1">
        <div class="myName t1">Home</div>
        <div class="myName t1">Gallery</div>
        <div class="myName t1">Projects</div>
        <div class="myName t1">Shop</div>
        <div class="myName t1">Contact</div>
    </div>
</router-outlet>